@model AllRoomsViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create Booking</h2>
<div class="pure-g">
    <div class="col-md-10">

        <div class="form-group" style="float:left">
            <div class="pure-g">
                <strong>Start Date :</strong>
                <br />
                <input type="date" id="startDate" name="StartDate" value="@DateTime.UtcNow.Date" />

            </div>
        </div>
        <div class="pure-g">
            <div class="form-group" style="float:right">
                <div class="pure-g">

                    <strong> End Date</strong>
                    <br />
                    <input type="date" id="endDate" name="EndDate" value="@DateTime.Now.Date" />

                </div>
            </div>
        </div>
    </div>
</div>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Capacity
            </th>
            <th>
                Lux Status
            </th>
            <th>
                Is for Smokers
            </th>
            <th>
                #
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var room in Model.Rooms)
        {
            <tr>
                <th>
                    @room.Id
                </th>
                <th>
                    @room.Name
                </th>
                <th>
                    @room.Capacity
                </th>
                <th>
                    @room.LuxStatus
                </th>
                <th>
                    @room.Smokers
                </th>
                <th>
                    <form asp-area="User" asp-controller="Home" asp-action="Create" method="post">

                        @Html.ActionLink("Edit", "Edit", new { id = room.Id })

                    </form>
                    @*<form asp-area="User" asp-controller="Rooms" asp-action="Delete" method="post">

                            @Html.ActionLink("Delete", "Delete", new { id = room.Id })
                        </form>*@
                </th>
            </tr>
        }
    </tbody>
</table>
</div>

