@model IEnumerable<AdminCreatePriceListingServicemodel>
@{
    ViewData["Title"] = "All Price List";
}

<hr />
<br />
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-10">
        <ul class="list-group center-block" style="margin-bottom:25px">

            @foreach (var art in Model)
            {
                <li class="list-group-item">
                    <h3> <strong> @art.Title</strong></h3>
                    <br />
                    <small>@Html.Raw(art.Content)</small>

                    <div class="btn btn-group-lg">

                        <form asp-area="Admin">
                            <button asp-action="DeletePriceList" asp-route-id="@art.Id" type="submit" class="btn btn-danger btn-group-lg">Delete</button>


                            <button asp-action="Details" asp-route-id="@art.Id" type="submit" class="btn btn-primary btn-group-lg">Details</button>

                        </form>
                    </div>

                </li>

            }
        </ul>

    </div>
</div>


