@model DetailsAlbumServiceModel
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <section>
            <form asp-area="Gallery" asp-controller="Gallery" asp-action="DetailsPhoto" asp-route-returnurl="@ViewData["ReturnUrl"]">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
            <h4> @Model.Title</h4>
            <br />

            @foreach (var ph in Model.Photos)
            {
                if (ph.Url.ToString().Contains(".jpg"))
                {

                    <form asp-area="Gallery" asp-controller="Gallery" asp-action="Comment" method="post">

                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                            <p>

                                <a href="~/Gallery/Gallery/Comment/@ph.Id">
                                <img src="@ph.Url" alt="@ph.Name" height="305" width="365"></a>
                                <input type="hidden" @ph.Id/>
                                <button class="btn btn-default" type="submit">Comment</button>
                            </p>

                        </div>
                    </form>
                }
            }
            <input type="hidden" @Model.Id>
        </section>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}