@model IEnumerable<CreateAlbumServiceModel>
@{
    ViewData["Title"] = "All Price List";
}

<hr />
<br />
<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">Gallery</h1>
        </div>
        <br>
        @foreach (var a in Model)
        {


            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <div class="table table-bordered table-hover col-lg-pull-12 border-dark">
                    <form asp-area="Gallery" asp-controller="Gallery" asp-action="AddPhotos" method="post">
                        <input type="hidden" @a.Id />
                        <h5>@a.Title</h5>

                        @Html.ActionLink("Add Photos", "AddPhotos", new { id = a.Id }) |
                    </form>
                    <form asp-area="Gallery" asp-controller="Gallery" asp-action="DetailsAlbum">
                        <input type="hidden" @a.Id />

                        @Html.ActionLink("Details", "DetailsAlbum", new { id = a.Id })


                    </form>
                </div>

            </div>

        }

    </div>
</div>



